{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}

{% endblock %}

{% block center_body %}
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">品牌商购</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="{% url "df_goods:index" %}"> 首页</a>
            </div>
        </div>
        <script type="text/javascript">
            if ({{ search_status }}==0
            )
            {
                alert("您的查询结果为空，为您推荐以下商品");
            }
        </script>
        <div class="breadcrumb" >
{#        <div class="new_goods" >#}
            <div> </div>
            全部分类
{#                    {{ title }}#}
{#            		{% if id|default:' ' != ' ' %}#}
            > 商品详情
{#            		{% endif %}#}
        </div>

        <div class="main_wrap clearfix">
            <ul class="goods_type_list clearfix">
                {% for item in page %}
                    <li>
                        <a href="/{{ item.id }}/"><img src="{{ MEDIA_URL }}{{ item.gpic }}"></a>
                        <h4><a href="/{{ item.id }}/">{{ item.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ item.gprice }}</span>
                            <span class="unit">{{ item.gunit }}</span>
                            <a href="/cart/add{{ item.id }}_1/" class="add_goods" title="加入购物车"></a>
                            {#						<a href="javasript:;/" class="add_goods" title="加入购物车"></a>#}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagenation">
                {#                判断是否是第一页#}
                {% if page.has_previous %}
                    <a href="{% url "df_user:ordinary_search" %}?q={{ query }}&amp;page={{ page.previous_page_number }}">上一页</a>
                {% endif %}

                {% for pindex in paginator.page_range %}
                    {% if pindex == page.number %}
                        <a href="#" class="active">{{ pindex }}</a>
                    {% else %}
                        <a href="{% url "df_user:ordinary_search" %}?q={{ query }}&amp;page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}

                {#                是否又第二页#}
                {% if page.has_next %}
                    <a href="{% url "df_user:ordinary_search" %}?q={{ query }}&amp;page={{ page.next_page_number }}">下一页></a>
                {% endif %}
            </div>
        </div>
{% endblock center_body %}